<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<bean id="trackEnricherServiceBean" class="org.n52.cario.gep.processor.TrackEnricherService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext" />
	</bean>
	<service id="trackEnricherService" ref="trackEnricherServiceBean" interface="com.esri.ges.processor.GeoEventProcessorService"/>
</blueprint>